@font-face {
  font-family: "custom-icon"; /* Project id 2627436 */
  src: url('@/static/fonts/iconfont.woff2?t=1625554586651') format('woff2'),
       url('@/static/fonts/iconfont.woff?t=1625554586651') format('woff'),
       url('@/static/fonts/iconfont.ttf?t=1625554586651') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-guandao:before {
  content: "\ec55";
}

.custom-icon-guize1:before {
  content: "\ec56";
}

.custom-icon-guizeyinqing:before {
  content: "\ec57";
}

.custom-icon-huowudui:before {
  content: "\ec58";
}

.custom-icon-jianceqi:before {
  content: "\ec59";
}

.custom-icon-jinggai:before {
  content: "\ec5a";
}

.custom-icon-liujisuan:before {
  content: "\ec5b";
}

.custom-icon-hanshu:before {
  content: "\ec5c";
}

.custom-icon-lianjieliu:before {
  content: "\ec5d";
}

.custom-icon-ludeng:before {
  content: "\ec5e";
}

.custom-icon-shexiangji:before {
  content: "\ec5f";
}

.custom-icon-rentijiance:before {
  content: "\ec60";
}

.custom-icon-moshubang:before {
  content: "\ec61";
}

.custom-icon-shujuwajue:before {
  content: "\ec62";
}

.custom-icon-wangguan:before {
  content: "\ec63";
}

.custom-icon-shenjing:before {
  content: "\ec64";
}

.custom-icon-chucun:before {
  content: "\ec65";
}

.custom-icon-wuguan:before {
  content: "\ec66";
}

.custom-icon-yunduanshuaxin:before {
  content: "\ec67";
}

.custom-icon-yunhang:before {
  content: "\ec68";
}

.custom-icon-luyouqi:before {
  content: "\ec69";
}

.custom-icon-bug:before {
  content: "\ec6a";
}

.custom-icon-get:before {
  content: "\ec6b";
}

.custom-icon-PIR:before {
  content: "\ec6c";
}

.custom-icon-zhexiantu:before {
  content: "\ec6d";
}

.custom-icon-shuibiao:before {
  content: "\ec6e";
}

.custom-icon-js:before {
  content: "\ec6f";
}

.custom-icon-zihangche:before {
  content: "\ec70";
}

.custom-icon-liebiao:before {
  content: "\ec71";
}

.custom-icon-qichedingwei:before {
  content: "\ec72";
}

.custom-icon-dici:before {
  content: "\ec73";
}

.custom-icon-mysql:before {
  content: "\ec74";
}

.custom-icon-qiche:before {
  content: "\ec75";
}

.custom-icon-shenjing1:before {
  content: "\ec76";
}

.custom-icon-chengshi:before {
  content: "\ec77";
}

.custom-icon-tixingshixin:before {
  content: "\ec78";
}

.custom-icon-menci:before {
  content: "\ec79";
}

.custom-icon-chazuo:before {
  content: "\ec7a";
}

.custom-icon-ranqijianceqi:before {
  content: "\ec7b";
}

.custom-icon-kaiguan:before {
  content: "\ec7c";
}

.custom-icon-chatou:before {
  content: "\ec7d";
}

.custom-icon-xiyiji:before {
  content: "\ec7e";
}

.custom-icon-yijiankaiguan:before {
  content: "\ec7f";
}

.custom-icon-yanwubaojingqi:before {
  content: "\ec80";
}

.custom-icon-wuxiandianbo:before {
  content: "\ec81";
}

.custom-icon-fuzhi:before {
  content: "\ec82";
}

.custom-icon-shanchu:before {
  content: "\ec83";
}

.custom-icon-bianjisekuai:before {
  content: "\ec84";
}

.custom-icon-ishipinshixiao:before {
  content: "\ec85";
}

.custom-icon-iframetianjia:before {
  content: "\ec86";
}

.custom-icon-tupiantianjia:before {
  content: "\ec87";
}

.custom-icon-liebiaomoshi_kuai:before {
  content: "\ec88";
}

.custom-icon-qiapianmoshi_kuai:before {
  content: "\ec89";
}

.custom-icon-fenlan:before {
  content: "\ec8a";
}

.custom-icon-fengexian:before {
  content: "\ec8b";
}

.custom-icon-dianzan:before {
  content: "\ec8c";
}

.custom-icon-charulianjie:before {
  content: "\ec8d";
}

.custom-icon-charutupian:before {
  content: "\ec8e";
}

.custom-icon-quxiaolianjie:before {
  content: "\ec8f";
}

.custom-icon-wuxupailie:before {
  content: "\ec90";
}

.custom-icon-juzhongduiqi:before {
  content: "\ec91";
}

.custom-icon-yinyong:before {
  content: "\ec92";
}

.custom-icon-youxupailie:before {
  content: "\ec93";
}

.custom-icon-youduiqi:before {
  content: "\ec94";
}

.custom-icon-zitidaima:before {
  content: "\ec95";
}

.custom-icon-xiaolian:before {
  content: "\ec96";
}

.custom-icon-zitijiacu:before {
  content: "\ec97";
}

.custom-icon-zitishanchuxian:before {
  content: "\ec98";
}

.custom-icon-zitishangbiao:before {
  content: "\ec99";
}

.custom-icon-zitibiaoti:before {
  content: "\ec9a";
}

.custom-icon-zitixiahuaxian:before {
  content: "\ec9b";
}

.custom-icon-zitixieti:before {
  content: "\ec9c";
}

.custom-icon-zitiyanse:before {
  content: "\ec9d";
}

.custom-icon-zuoduiqi:before {
  content: "\ec9e";
}

.custom-icon-zitiyulan:before {
  content: "\ec9f";
}

.custom-icon-zitixiabiao:before {
  content: "\eca0";
}

.custom-icon-zuoyouduiqi:before {
  content: "\eca1";
}

.custom-icon-tianxie:before {
  content: "\eca2";
}

.custom-icon-huowudui1:before {
  content: "\eca3";
}

.custom-icon-yingjian:before {
  content: "\eca4";
}

.custom-icon-shebeikaifa:before {
  content: "\eca5";
}

.custom-icon-dianzan_kuai:before {
  content: "\eca6";
}

.custom-icon-zhihuan:before {
  content: "\eca7";
}

.custom-icon-tuoguan:before {
  content: "\eca8";
}

.custom-icon-duigoux:before {
  content: "\eca9";
}

.custom-icon-guanbi1:before {
  content: "\ecaa";
}

.custom-icon-aixin_shixin:before {
  content: "\ecab";
}

.custom-icon-ranqixieloubaojingqi:before {
  content: "\ecac";
}

.custom-icon-dianbiao_shiti:before {
  content: "\ecad";
}

.custom-icon-aixin:before {
  content: "\ecae";
}

.custom-icon-shuibiao_shiti:before {
  content: "\ecaf";
}

.custom-icon-zhinengxiaofangshuan:before {
  content: "\ecb0";
}

.custom-icon-ranqibiao_shiti:before {
  content: "\ecb1";
}

.custom-icon-tiaoshi:before {
  content: "\eb61";
}

.custom-icon-shexiangtou_shiti:before {
  content: "\ecb2";
}

.custom-icon-changjingguanli:before {
  content: "\eb62";
}

.custom-icon-shexiangtou_guanbi:before {
  content: "\ecb3";
}

.custom-icon-bianji:before {
  content: "\eb63";
}

.custom-icon-shexiangtou:before {
  content: "\ecb4";
}

.custom-icon-guanlianshebei:before {
  content: "\eb64";
}

.custom-icon-shengyin_shiti:before {
  content: "\ecb5";
}

.custom-icon-guanfangbanben:before {
  content: "\eb65";
}

.custom-icon-shengyinkai:before {
  content: "\ecb6";
}

.custom-icon-gongnengdingyi:before {
  content: "\eb66";
}

.custom-icon-shoucang_shixin:before {
  content: "\ecb7";
}

.custom-icon-jichuguanli:before {
  content: "\eb67";
}

.custom-icon-shoucang:before {
  content: "\ecb8";
}

.custom-icon-jishufuwu:before {
  content: "\eb68";
}

.custom-icon-shengyinwu:before {
  content: "\ecb9";
}

.custom-icon-hezuohuobanmiyueguanli:before {
  content: "\eb69";
}

.custom-icon-shengyinjingyin:before {
  content: "\ecba";
}

.custom-icon-ceshishenqing:before {
  content: "\eb6a";
}

.custom-icon-zhunbeiliangchan:before {
  content: "\ecbb";
}

.custom-icon-jiedianguanli:before {
  content: "\eb6b";
}

.custom-icon-shebeikaifa1:before {
  content: "\ecbc";
}

.custom-icon-jinggao:before {
  content: "\eb6c";
}

.custom-icon-kongxinwenhao:before {
  content: "\ed19";
}

.custom-icon-peiwangyindao:before {
  content: "\eb6d";
}

.custom-icon-cuowukongxin:before {
  content: "\ed1a";
}

.custom-icon-renjijiaohu:before {
  content: "\eb6e";
}

.custom-icon-fangkuai1:before {
  content: "\ed1b";
}

.custom-icon-shiyongwendang:before {
  content: "\eb6f";
}

.custom-icon-fangkuai2:before {
  content: "\ed1c";
}

.custom-icon-quanxianshenpi:before {
  content: "\eb70";
}

.custom-icon-kongjianxuanzhong1:before {
  content: "\ed1d";
}

.custom-icon-yishouquan:before {
  content: "\eb71";
}

.custom-icon-kongxinduigou1:before {
  content: "\ed1e";
}

.custom-icon-tianshenpi:before {
  content: "\eb72";
}

.custom-icon-xinxikongxin:before {
  content: "\ed1f";
}

.custom-icon-shujukanban:before {
  content: "\eb73";
}

.custom-icon-kongjian:before {
  content: "\ed20";
}

.custom-icon-yingyongguanli:before {
  content: "\eb74";
}

.custom-icon-gaojingkongxin:before {
  content: "\ed21";
}

.custom-icon-yibiaopan:before {
  content: "\eb75";
}

.custom-icon-duigou_kuai:before {
  content: "\ed22";
}

.custom-icon-zhanghaoquanxianguanli:before {
  content: "\eb76";
}

.custom-icon-cuocha_kuai:before {
  content: "\ed23";
}

.custom-icon-yuanquyunwei:before {
  content: "\eb77";
}

.custom-icon-jia_sekuai:before {
  content: "\ed24";
}

.custom-icon-jizhanguanli:before {
  content: "\eb78";
}

.custom-icon-jian_sekuai:before {
  content: "\ed25";
}

.custom-icon-guanbi:before {
  content: "\eb79";
}

.custom-icon-fenxiangfangshi:before {
  content: "\ed2e";
}

.custom-icon-zidingyi:before {
  content: "\eb7a";
}

.custom-icon-xiajiantou:before {
  content: "\eb7b";
}

.custom-icon-shangjiantou:before {
  content: "\eb7c";
}

.custom-icon-icon_loading:before {
  content: "\eb80";
}

.custom-icon-icon_renwujincheng:before {
  content: "\eb88";
}

.custom-icon-icon_rukou:before {
  content: "\eb89";
}

.custom-icon-icon_yiwenkongxin:before {
  content: "\eb8a";
}

.custom-icon-icon_fabu:before {
  content: "\eb8b";
}

.custom-icon-icon_tianjia:before {
  content: "\eb8c";
}

.custom-icon-icon_yulan:before {
  content: "\eb8d";
}

.custom-icon-icon_zhanghao:before {
  content: "\eb8e";
}

.custom-icon-icon_wangye:before {
  content: "\eb8f";
}

.custom-icon-icon_shezhi:before {
  content: "\eb90";
}

.custom-icon-icon_baocun:before {
  content: "\eb91";
}

.custom-icon-icon_yingyongguanli:before {
  content: "\eb92";
}

.custom-icon-icon_shiyongwendang:before {
  content: "\eb93";
}

.custom-icon-icon_bangzhuwendang:before {
  content: "\eb94";
}

.custom-icon-biaodanzujian-shurukuang:before {
  content: "\eb95";
}

.custom-icon-biaodanzujian-biaoge:before {
  content: "\eb96";
}

.custom-icon-biaodanzujian-xialakuang:before {
  content: "\eb97";
}

.custom-icon-tubiao-bingtu:before {
  content: "\eb98";
}

.custom-icon-biaodanzujian-anniu:before {
  content: "\eb99";
}

.custom-icon-gongyezujian-yibiaopan:before {
  content: "\eb9a";
}

.custom-icon-tubiao-qiapian:before {
  content: "\eb9b";
}

.custom-icon-gongyezujian-zhishideng:before {
  content: "\eb9c";
}

.custom-icon-tubiao-zhexiantu:before {
  content: "\eb9d";
}

.custom-icon-xingzhuang-juxing:before {
  content: "\eb9e";
}

.custom-icon-xingzhuang-jianxing:before {
  content: "\eb9f";
}

.custom-icon-gongyezujian-kaiguan:before {
  content: "\eba0";
}

.custom-icon-tubiao-zhuzhuangtu:before {
  content: "\eba1";
}

.custom-icon-xingzhuang-tupian:before {
  content: "\eba2";
}

.custom-icon-xingzhuang-wenzi:before {
  content: "\eba3";
}

.custom-icon-xingzhuang-tuoyuanxing:before {
  content: "\eba4";
}

.custom-icon-xingzhuang-sanjiaoxing:before {
  content: "\eba5";
}

.custom-icon-xingzhuang-xingxing:before {
  content: "\eba6";
}

.custom-icon-guize:before {
  content: "\ebb7";
}

.custom-icon-shebeiguanli:before {
  content: "\ebb8";
}

.custom-icon-gongnengdingyi1:before {
  content: "\ebb9";
}

.custom-icon-jishufuwu1:before {
  content: "\ebce";
}

.custom-icon-yunyingzhongxin:before {
  content: "\ebd0";
}

.custom-icon-yunyingguanli:before {
  content: "\ebd1";
}

.custom-icon-zuzhixiaxia:before {
  content: "\ebd8";
}

.custom-icon-zuzhizhankai:before {
  content: "\ebd9";
}

.custom-icon-zuzhiqunzu:before {
  content: "\ebda";
}

.custom-icon-dakai:before {
  content: "\ebdf";
}

.custom-icon-yingwen:before {
  content: "\ebe0";
}

.custom-icon-zhongwen:before {
  content: "\ebe2";
}

.custom-icon-miwen:before {
  content: "\ebe3";
}

.custom-icon-xianhao:before {
  content: "\ebe4";
}

.custom-icon-kongxinduigou:before {
  content: "\ebe5";
}

.custom-icon-huixingzhen:before {
  content: "\ebe6";
}

.custom-icon-duigou:before {
  content: "\ebe7";
}

.custom-icon-xiayibu:before {
  content: "\ebef";
}

.custom-icon-shangyibu:before {
  content: "\ebf0";
}

.custom-icon-kongjianxuanzhong:before {
  content: "\ebf1";
}

.custom-icon-kongjianweixuan:before {
  content: "\ebf2";
}

.custom-icon-kongjianyixuan:before {
  content: "\ebf3";
}

.custom-icon--diangan:before {
  content: "\ebfb";
}

.custom-icon-rongxuejirongjiechi:before {
  content: "\ebfc";
}

.custom-icon-lubiantingchechang:before {
  content: "\ebfd";
}

.custom-icon--lumingpai:before {
  content: "\ebfe";
}

.custom-icon-jietouzuoyi:before {
  content: "\ebff";
}

.custom-icon--zhongdaweixian:before {
  content: "\ec00";
}

.custom-icon--jiaotongbiaozhipai:before {
  content: "\ec01";
}

.custom-icon-gongcezhishipai:before {
  content: "\ec02";
}

.custom-icon-fangkuai:before {
  content: "\ec06";
}

.custom-icon-fangkuai-:before {
  content: "\ec07";
}

.custom-icon-shuaxin:before {
  content: "\ec08";
}

.custom-icon-baocun:before {
  content: "\ec09";
}

.custom-icon-fabu:before {
  content: "\ec0a";
}

.custom-icon-xiayibu1:before {
  content: "\ec0b";
}

.custom-icon-shangyibu1:before {
  content: "\ec0c";
}

.custom-icon-xiangxiazhanhang:before {
  content: "\ec0d";
}

.custom-icon-xiangshangzhanhang:before {
  content: "\ec0e";
}

.custom-icon-tupianjiazaishibai:before {
  content: "\ec0f";
}

.custom-icon-fuwudiqiu:before {
  content: "\ec10";
}

.custom-icon-suoxiao1:before {
  content: "\ec13";
}

.custom-icon-fangda:before {
  content: "\ec14";
}

.custom-icon-huanyuanhuabu:before {
  content: "\ec15";
}

.custom-icon-quanping:before {
  content: "\ec16";
}

.custom-icon-biaodanzujian-biaoge1:before {
  content: "\ec17";
}

.custom-icon-APIshuchu:before {
  content: "\ec18";
}

.custom-icon-APIjieru:before {
  content: "\ec19";
}

.custom-icon-wenjianjia:before {
  content: "\ec1a";
}

.custom-icon-DOC:before {
  content: "\ec1b";
}

.custom-icon-BMP:before {
  content: "\ec1c";
}

.custom-icon-GIF:before {
  content: "\ec1d";
}

.custom-icon-JPG:before {
  content: "\ec1e";
}

.custom-icon-PNG:before {
  content: "\ec1f";
}

.custom-icon-weizhigeshi:before {
  content: "\ec20";
}

.custom-icon-gengduo:before {
  content: "\ec21";
}

.custom-icon-yunduanxiazai:before {
  content: "\ec22";
}

.custom-icon-yunduanshangchuan:before {
  content: "\ec23";
}

.custom-icon-dian:before {
  content: "\ec24";
}

.custom-icon-mian:before {
  content: "\ec25";
}

.custom-icon-xian:before {
  content: "\ec26";
}

.custom-icon-shebeizhuangtai:before {
  content: "\ec27";
}

.custom-icon-fenzuguanli:before {
  content: "\ec28";
}

.custom-icon-kuaisubianpai:before {
  content: "\ec29";
}

.custom-icon-APPkaifa:before {
  content: "\ec2a";
}

.custom-icon-wentijieda:before {
  content: "\ec2e";
}

.custom-icon-kefu:before {
  content: "\ec2f";
}

.custom-icon-ruanjiankaifabao:before {
  content: "\ec30";
}

.custom-icon-sousuobianxiao:before {
  content: "\ec32";
}

.custom-icon-sousuofangda:before {
  content: "\ec33";
}

.custom-icon-dingwei:before {
  content: "\ec34";
}

.custom-icon-wumoxing:before {
  content: "\ec35";
}

.custom-icon-gaojing:before {
  content: "\ec36";
}

.custom-icon-renwujincheng:before {
  content: "\ec37";
}

.custom-icon-xiaoxitongzhi:before {
  content: "\ec38";
}

.custom-icon-youhui:before {
  content: "\ec39";
}

.custom-icon-gaojing1:before {
  content: "\ec3a";
}

.custom-icon-zhihangfankui:before {
  content: "\ec3b";
}

.custom-icon-gongdanqueren:before {
  content: "\ec3c";
}

.custom-icon-guangbo:before {
  content: "\ec3d";
}

.custom-icon-gongdan:before {
  content: "\ec3e";
}

.custom-icon-xiaoxi:before {
  content: "\ec3f";
}

.custom-icon-ditu-qi:before {
  content: "\ec40";
}

.custom-icon-ditu-dibiao:before {
  content: "\ec41";
}

.custom-icon-ditu-cha:before {
  content: "\ec42";
}

.custom-icon-ditu-qipao:before {
  content: "\ec43";
}

.custom-icon-ditu-tuding:before {
  content: "\ec44";
}

.custom-icon-ditu-huan:before {
  content: "\ec45";
}

.custom-icon-ditu-xing:before {
  content: "\ec46";
}

.custom-icon-ditu-yuan:before {
  content: "\ec47";
}

.custom-icon-chehuisekuai:before {
  content: "\ec48";
}

.custom-icon-shanchusekuai:before {
  content: "\ec49";
}

.custom-icon-fabusekuai:before {
  content: "\ec4a";
}

.custom-icon-xinhao:before {
  content: "\ec4b";
}

.custom-icon-lanya:before {
  content: "\ec4c";
}

.custom-icon-Wi-Fi:before {
  content: "\ec4d";
}

.custom-icon-chaxun:before {
  content: "\ec4e";
}

.custom-icon-dianbiao:before {
  content: "\ec4f";
}

.custom-icon-anquan:before {
  content: "\ec50";
}

.custom-icon-daibanshixiang:before {
  content: "\ec51";
}

.custom-icon-bingxiang:before {
  content: "\ec52";
}

.custom-icon-fanshe:before {
  content: "\ec53";
}

.custom-icon-fengche:before {
  content: "\ec54";
}

.custom-icon-shaixuan:before {
  content: "\e65a";
}

.custom-icon-warehouse:before {
  content: "\e7f1";
}

.custom-icon-danjuzhuanhuan:before {
  content: "\e8f1";
}

.custom-icon-shoes:before {
  content: "\e7f2";
}

.custom-icon-Transfermoney:before {
  content: "\e8f2";
}

.custom-icon-video:before {
  content: "\e7f3";
}

.custom-icon-under-line:before {
  content: "\e8f3";
}

.custom-icon-viewlist:before {
  content: "\e7f4";
}

.custom-icon-xiakuangxian:before {
  content: "\e8f4";
}

.custom-icon-set:before {
  content: "\e7f5";
}

.custom-icon-shouqi:before {
  content: "\e8f5";
}

.custom-icon-store:before {
  content: "\e7f6";
}

.custom-icon-zhankai:before {
  content: "\e8f6";
}

.custom-icon-tool-hardware:before {
  content: "\e7f7";
}

.custom-icon-tongxunlu:before {
  content: "\e8f7";
}

.custom-icon-vs:before {
  content: "\e7f8";
}

.custom-icon-yiguanzhugongyingshang:before {
  content: "\e8f8";
}

.custom-icon-toy:before {
  content: "\e7f9";
}

.custom-icon-goumaipianhao:before {
  content: "\e8f9";
}

.custom-icon-sport:before {
  content: "\e7fa";
}

.custom-icon-Subscribe:before {
  content: "\e8fa";
}

.custom-icon-creditcard:before {
  content: "\e7fb";
}

.custom-icon-becomeagoldsupplier:before {
  content: "\e8fb";
}

.custom-icon-contacts:before {
  content: "\e7fc";
}

.custom-icon-new:before {
  content: "\e8fc";
}

.custom-icon-checkstand:before {
  content: "\e7fd";
}

.custom-icon-free:before {
  content: "\e8fd";
}

.custom-icon-aviation:before {
  content: "\e7fe";
}

.custom-icon-cad-fill:before {
  content: "\e8fe";
}

.custom-icon-Daytimemode:before {
  content: "\e7ff";
}

.custom-icon-robot:before {
  content: "\e8ff";
}

.custom-icon-infantmom:before {
  content: "\e800";
}

.custom-icon-inspection1:before {
  content: "\e900";
}

.custom-icon-discounts:before {
  content: "\e801";
}

.custom-icon-block:before {
  content: "\e901";
}

.custom-icon-invoice:before {
  content: "\e802";
}

.custom-icon-shouhuoicon:before {
  content: "\e902";
}

.custom-icon-insurance:before {
  content: "\e803";
}

.custom-icon-nightmode:before {
  content: "\e804";
}

.custom-icon-usercenter:before {
  content: "\e805";
}

.custom-icon-unlock:before {
  content: "\e806";
}

.custom-icon-vip:before {
  content: "\e807";
}

.custom-icon-wallet:before {
  content: "\e808";
}

.custom-icon-landtransportation:before {
  content: "\e809";
}

.custom-icon-voice:before {
  content: "\e80a";
}

.custom-icon-exchangerate:before {
  content: "\e80b";
}

.custom-icon-contacts-fill:before {
  content: "\e80c";
}

.custom-icon-add-account1:before {
  content: "\e80d";
}

.custom-icon-years-fill:before {
  content: "\e80e";
}

.custom-icon-add-cart-fill:before {
  content: "\e80f";
}

.custom-icon-add-fill:before {
  content: "\e810";
}

.custom-icon-all-fill1:before {
  content: "\e811";
}

.custom-icon-ashbin-fill:before {
  content: "\e812";
}

.custom-icon-calendar-fill:before {
  content: "\e813";
}

.custom-icon-bad-fill:before {
  content: "\e814";
}

.custom-icon-bussiness-man-fill:before {
  content: "\e815";
}

.custom-icon-atm-fill:before {
  content: "\e816";
}

.custom-icon-cart-full-fill:before {
  content: "\e817";
}

.custom-icon-cart-Empty-fill:before {
  content: "\e818";
}

.custom-icon-cameraswitching-fill:before {
  content: "\e819";
}

.custom-icon-atm-away-fill:before {
  content: "\e81a";
}

.custom-icon-certified-supplier-fill:before {
  content: "\e81b";
}

.custom-icon-calculator-fill:before {
  content: "\e81c";
}

.custom-icon-clock-fill:before {
  content: "\e81d";
}

.custom-icon-ali-clould-fill:before {
  content: "\e81e";
}

.custom-icon-color-fill:before {
  content: "\e81f";
}

.custom-icon-coupons-fill:before {
  content: "\e820";
}

.custom-icon-cecurity-protection-fill:before {
  content: "\e821";
}

.custom-icon-credit-level-fill:before {
  content: "\e822";
}

.custom-icon-auto:before {
  content: "\e6eb";
}

.custom-icon-default-template-fill:before {
  content: "\e823";
}

.custom-icon-all:before {
  content: "\e6ef";
}

.custom-icon-CurrencyConverter-fill:before {
  content: "\e824";
}

.custom-icon-bussiness-man:before {
  content: "\e6f0";
}

.custom-icon-Customermanagement-fill:before {
  content: "\e825";
}

.custom-icon-component:before {
  content: "\e6f2";
}

.custom-icon-discounts-fill:before {
  content: "\e826";
}

.custom-icon-code:before {
  content: "\e6f3";
}

.custom-icon-Daytimemode-fill:before {
  content: "\e827";
}

.custom-icon-copy:before {
  content: "\e6f4";
}

.custom-icon-exl-fill:before {
  content: "\e828";
}

.custom-icon-dollar:before {
  content: "\e6f5";
}

.custom-icon-cry-fill:before {
  content: "\e829";
}

.custom-icon-history:before {
  content: "\e6f8";
}

.custom-icon-email-fill:before {
  content: "\e82a";
}

.custom-icon-editor:before {
  content: "\e6f6";
}

.custom-icon-filter-fill:before {
  content: "\e82b";
}

.custom-icon-data:before {
  content: "\e6f9";
}

.custom-icon-folder-fill:before {
  content: "\e82c";
}

.custom-icon-gift:before {
  content: "\e6fa";
}

.custom-icon-feeds-fill:before {
  content: "\e82d";
}

.custom-icon-integral:before {
  content: "\e6fb";
}

.custom-icon-gold-supplie-fill:before {
  content: "\e82e";
}

.custom-icon-nav-list:before {
  content: "\e6fd";
}

.custom-icon-form-fill:before {
  content: "\e82f";
}

.custom-icon-pic:before {
  content: "\e6ff";
}

.custom-icon-camera-fill:before {
  content: "\e830";
}

.custom-icon-Notvisible:before {
  content: "\e6fe";
}

.custom-icon-good-fill:before {
  content: "\e831";
}

.custom-icon-play:before {
  content: "\e701";
}

.custom-icon-image-text-fill:before {
  content: "\e832";
}

.custom-icon-rising:before {
  content: "\e703";
}

.custom-icon-inspection-fill:before {
  content: "\e833";
}

.custom-icon-QRcode:before {
  content: "\e704";
}

.custom-icon-hot-fill:before {
  content: "\e834";
}

.custom-icon-rmb:before {
  content: "\e705";
}

.custom-icon-company-fill:before {
  content: "\e835";
}

.custom-icon-similar-product:before {
  content: "\e707";
}

.custom-icon-discount-fill:before {
  content: "\e836";
}

.custom-icon-Exportservices:before {
  content: "\e702";
}

.custom-icon-insurance-fill:before {
  content: "\e837";
}

.custom-icon-sendinquiry:before {
  content: "\e70d";
}

.custom-icon-inquiry-template-fill:before {
  content: "\e838";
}

.custom-icon-all-fill:before {
  content: "\e718";
}

.custom-icon-leftbutton-fill:before {
  content: "\e839";
}

.custom-icon-favorites-fill:before {
  content: "\e721";
}

.custom-icon-integral-fill1:before {
  content: "\e83a";
}

.custom-icon-integral-fill:before {
  content: "\e726";
}

.custom-icon-help1:before {
  content: "\e83b";
}

.custom-icon-namecard-fill:before {
  content: "\e72a";
}

.custom-icon-listing-content-fill:before {
  content: "\e83c";
}

.custom-icon-pic-fill:before {
  content: "\e72e";
}

.custom-icon-logistic-logo-fill:before {
  content: "\e83d";
}

.custom-icon-play-fill:before {
  content: "\e72f";
}

.custom-icon-Moneymanagement-fill:before {
  content: "\e83e";
}

.custom-icon-prompt-fill:before {
  content: "\e730";
}

.custom-icon-manage-order-fill:before {
  content: "\e83f";
}

.custom-icon-stop-fill:before {
  content: "\e738";
}

.custom-icon-multi-language-fill:before {
  content: "\e840";
}

.custom-icon-column:before {
  content: "\e741";
}

.custom-icon-logistics-icon-fill:before {
  content: "\e841";
}

.custom-icon-add-account:before {
  content: "\e742";
}

.custom-icon-Newuserzone-fill:before {
  content: "\e842";
}

.custom-icon-column1:before {
  content: "\e743";
}

.custom-icon-nightmode-fill:before {
  content: "\e843";
}

.custom-icon-add:before {
  content: "\e744";
}

.custom-icon-office-supplies-fill:before {
  content: "\e844";
}

.custom-icon-agriculture:before {
  content: "\e745";
}

.custom-icon-notice-fill:before {
  content: "\e845";
}

.custom-icon-years:before {
  content: "\e746";
}

.custom-icon-mute:before {
  content: "\e846";
}

.custom-icon-add-cart:before {
  content: "\e747";
}

.custom-icon-order-fill:before {
  content: "\e847";
}

.custom-icon-arrow-right:before {
  content: "\e748";
}

.custom-icon-password1:before {
  content: "\e848";
}

.custom-icon-arrow-left:before {
  content: "\e749";
}

.custom-icon-map1:before {
  content: "\e849";
}

.custom-icon-apparel:before {
  content: "\e74a";
}

.custom-icon-paylater-fill:before {
  content: "\e84a";
}

.custom-icon-all1:before {
  content: "\e74b";
}

.custom-icon-phone-fill:before {
  content: "\e84b";
}

.custom-icon-arrow-up:before {
  content: "\e74c";
}

.custom-icon-online-tracking-fill:before {
  content: "\e84c";
}

.custom-icon-ascending:before {
  content: "\e74d";
}

.custom-icon-play-fill1:before {
  content: "\e84d";
}

.custom-icon-ashbin:before {
  content: "\e74e";
}

.custom-icon-pdf-fill:before {
  content: "\e84e";
}

.custom-icon-atm:before {
  content: "\e74f";
}

.custom-icon-phone1:before {
  content: "\e84f";
}

.custom-icon-bad:before {
  content: "\e750";
}

.custom-icon-pin-fill:before {
  content: "\e850";
}

.custom-icon-attachent:before {
  content: "\e751";
}

.custom-icon-product-fill:before {
  content: "\e851";
}

.custom-icon-browse:before {
  content: "\e752";
}

.custom-icon-rankinglist-fill:before {
  content: "\e852";
}

.custom-icon-beauty:before {
  content: "\e753";
}

.custom-icon-reduce-fill:before {
  content: "\e853";
}

.custom-icon-atm-away:before {
  content: "\e754";
}

.custom-icon-reeor-fill:before {
  content: "\e854";
}

.custom-icon-assessed-badge:before {
  content: "\e755";
}

.custom-icon-pic-fill1:before {
  content: "\e855";
}

.custom-icon-auto1:before {
  content: "\e756";
}

.custom-icon-rankinglist:before {
  content: "\e856";
}

.custom-icon-bags:before {
  content: "\e757";
}

.custom-icon-product1:before {
  content: "\e857";
}

.custom-icon-calendar:before {
  content: "\e758";
}

.custom-icon-prompt-fill1:before {
  content: "\e858";
}

.custom-icon-cart-full:before {
  content: "\e759";
}

.custom-icon-resonserate-fill:before {
  content: "\e859";
}

.custom-icon-calculator:before {
  content: "\e75a";
}

.custom-icon-remind-fill:before {
  content: "\e85a";
}

.custom-icon-cameraswitching:before {
  content: "\e75b";
}

.custom-icon-Rightbutton-fill:before {
  content: "\e85b";
}

.custom-icon-cecurity-protection:before {
  content: "\e75c";
}

.custom-icon-RFQ-logo-fill:before {
  content: "\e85c";
}

.custom-icon-category:before {
  content: "\e75d";
}

.custom-icon-RFQ-word-fill:before {
  content: "\e85d";
}

.custom-icon-close:before {
  content: "\e75e";
}

.custom-icon-searchcart-fill:before {
  content: "\e85e";
}

.custom-icon-certified-supplier:before {
  content: "\e75f";
}

.custom-icon-salescenter-fill:before {
  content: "\e85f";
}

.custom-icon-cart-Empty:before {
  content: "\e760";
}

.custom-icon-save-fill:before {
  content: "\e860";
}

.custom-icon-code1:before {
  content: "\e761";
}

.custom-icon-security-fill:before {
  content: "\e861";
}

.custom-icon-color:before {
  content: "\e762";
}

.custom-icon-Similarproducts-fill:before {
  content: "\e862";
}

.custom-icon-conditions:before {
  content: "\e763";
}

.custom-icon-signboard-fill:before {
  content: "\e863";
}

.custom-icon-confirm:before {
  content: "\e764";
}

.custom-icon-service-fill:before {
  content: "\e864";
}

.custom-icon-company:before {
  content: "\e765";
}

.custom-icon-shuffling-banner-fill:before {
  content: "\e865";
}

.custom-icon-ali-clould:before {
  content: "\e766";
}

.custom-icon-supplier-features-fill:before {
  content: "\e866";
}

.custom-icon-copy1:before {
  content: "\e767";
}

.custom-icon-store-fill:before {
  content: "\e867";
}

.custom-icon-credit-level:before {
  content: "\e768";
}

.custom-icon-smile-fill:before {
  content: "\e868";
}

.custom-icon-coupons:before {
  content: "\e769";
}

.custom-icon-success-fill:before {
  content: "\e869";
}

.custom-icon-connections:before {
  content: "\e76a";
}

.custom-icon-sound-filling-fill:before {
  content: "\e86a";
}

.custom-icon-cry:before {
  content: "\e76b";
}

.custom-icon-sound-Mute1:before {
  content: "\e86b";
}

.custom-icon-costoms-alearance:before {
  content: "\e76c";
}

.custom-icon-suspended-fill:before {
  content: "\e86c";
}

.custom-icon-clock:before {
  content: "\e76d";
}

.custom-icon-tool-fill:before {
  content: "\e86d";
}

.custom-icon-CurrencyConverter:before {
  content: "\e76e";
}

.custom-icon-task-management-fill:before {
  content: "\e86e";
}

.custom-icon-cut:before {
  content: "\e76f";
}

.custom-icon-unlock-fill:before {
  content: "\e86f";
}

.custom-icon-data1:before {
  content: "\e770";
}

.custom-icon-trust-fill:before {
  content: "\e870";
}

.custom-icon-Customermanagement:before {
  content: "\e771";
}

.custom-icon-vip-fill:before {
  content: "\e871";
}

.custom-icon-descending:before {
  content: "\e772";
}

.custom-icon-set1:before {
  content: "\e872";
}

.custom-icon-double-arro-right:before {
  content: "\e773";
}

.custom-icon-Top-fill:before {
  content: "\e873";
}

.custom-icon-customization:before {
  content: "\e774";
}

.custom-icon-viewlarger1:before {
  content: "\e874";
}

.custom-icon-double-arrow-left:before {
  content: "\e775";
}

.custom-icon-voice-fill:before {
  content: "\e875";
}

.custom-icon-discount:before {
  content: "\e776";
}

.custom-icon-warning-fill:before {
  content: "\e876";
}

.custom-icon-download:before {
  content: "\e777";
}

.custom-icon-warehouse-fill:before {
  content: "\e877";
}

.custom-icon-dollar1:before {
  content: "\e778";
}

.custom-icon-zip-fill:before {
  content: "\e878";
}

.custom-icon-default-template:before {
  content: "\e779";
}

.custom-icon-trade-assurance-fill:before {
  content: "\e879";
}

.custom-icon-editor1:before {
  content: "\e77a";
}

.custom-icon-vs-fill:before {
  content: "\e87a";
}

.custom-icon-eletrical:before {
  content: "\e77b";
}

.custom-icon-video1:before {
  content: "\e87b";
}

.custom-icon-electronics:before {
  content: "\e77c";
}

.custom-icon-template-fill:before {
  content: "\e87c";
}

.custom-icon-etrical-equipm:before {
  content: "\e77d";
}

.custom-icon-wallet1:before {
  content: "\e87d";
}

.custom-icon-ellipsis:before {
  content: "\e77e";
}

.custom-icon-training1:before {
  content: "\e87e";
}

.custom-icon-email:before {
  content: "\e77f";
}

.custom-icon-packing-labeling-fill:before {
  content: "\e87f";
}

.custom-icon-falling:before {
  content: "\e780";
}

.custom-icon-Exportservices-fill:before {
  content: "\e880";
}

.custom-icon-earth:before {
  content: "\e781";
}

.custom-icon-brand-fill:before {
  content: "\e881";
}

.custom-icon-filter:before {
  content: "\e782";
}

.custom-icon-collection:before {
  content: "\e882";
}

.custom-icon-furniture:before {
  content: "\e783";
}

.custom-icon-consumption-fill:before {
  content: "\e883";
}

.custom-icon-folder:before {
  content: "\e784";
}

.custom-icon-collection-fill:before {
  content: "\e884";
}

.custom-icon-feeds:before {
  content: "\e785";
}

.custom-icon-brand:before {
  content: "\e885";
}

.custom-icon-history1:before {
  content: "\e786";
}

.custom-icon-rejected-order-fill:before {
  content: "\e886";
}

.custom-icon-hardware:before {
  content: "\e787";
}

.custom-icon-homepage-ads-fill:before {
  content: "\e887";
}

.custom-icon-help:before {
  content: "\e788";
}

.custom-icon-homepage-ads:before {
  content: "\e888";
}

.custom-icon-good:before {
  content: "\e789";
}

.custom-icon-scenes-fill:before {
  content: "\e889";
}

.custom-icon-Householdappliances:before {
  content: "\e78a";
}

.custom-icon-scenes:before {
  content: "\e88a";
}

.custom-icon-gift1:before {
  content: "\e78b";
}

.custom-icon-similar-product-fill:before {
  content: "\e88b";
}

.custom-icon-form:before {
  content: "\e78c";
}

.custom-icon-topraning-fill:before {
  content: "\e88c";
}

.custom-icon-image-text:before {
  content: "\e78d";
}

.custom-icon-consumption:before {
  content: "\e88d";
}

.custom-icon-hot:before {
  content: "\e78e";
}

.custom-icon-topraning:before {
  content: "\e88e";
}

.custom-icon-inspection:before {
  content: "\e78f";
}

.custom-icon-gold-supplier:before {
  content: "\e88f";
}

.custom-icon-leftbutton:before {
  content: "\e790";
}

.custom-icon-messagecenter-fill:before {
  content: "\e890";
}

.custom-icon-jewelry:before {
  content: "\e791";
}

.custom-icon-quick:before {
  content: "\e891";
}

.custom-icon-ipad:before {
  content: "\e792";
}

.custom-icon-writing:before {
  content: "\e892";
}

.custom-icon-leftarrow:before {
  content: "\e793";
}

.custom-icon-docjpge-fill:before {
  content: "\e893";
}

.custom-icon-integral1:before {
  content: "\e794";
}

.custom-icon-jpge-fill:before {
  content: "\e894";
}

.custom-icon-kitchen:before {
  content: "\e795";
}

.custom-icon-gifjpge-fill:before {
  content: "\e895";
}

.custom-icon-inquiry-template:before {
  content: "\e796";
}

.custom-icon-bmpjpge-fill:before {
  content: "\e896";
}

.custom-icon-link:before {
  content: "\e797";
}

.custom-icon-tifjpge-fill:before {
  content: "\e897";
}

.custom-icon-libra:before {
  content: "\e798";
}

.custom-icon-pngjpge-fill:before {
  content: "\e898";
}

.custom-icon-loading:before {
  content: "\e799";
}

.custom-icon-Hometextile:before {
  content: "\e899";
}

.custom-icon-listing-content:before {
  content: "\e79a";
}

.custom-icon-home:before {
  content: "\e89a";
}

.custom-icon-lights:before {
  content: "\e79b";
}

.custom-icon-sendinquiry-fill:before {
  content: "\e89b";
}

.custom-icon-logistics-icon:before {
  content: "\e79c";
}

.custom-icon-comments-fill:before {
  content: "\e89c";
}

.custom-icon-messagecenter:before {
  content: "\e79d";
}

.custom-icon-account-fill:before {
  content: "\e89d";
}

.custom-icon-mobile-phone:before {
  content: "\e79e";
}

.custom-icon-feed-logo-fill:before {
  content: "\e89e";
}

.custom-icon-manage-order:before {
  content: "\e79f";
}

.custom-icon-feed-logo:before {
  content: "\e89f";
}

.custom-icon-move:before {
  content: "\e7a0";
}

.custom-icon-home-fill:before {
  content: "\e8a0";
}

.custom-icon-Moneymanagement:before {
  content: "\e7a1";
}

.custom-icon-add-select:before {
  content: "\e8a1";
}

.custom-icon-namecard:before {
  content: "\e7a2";
}

.custom-icon-sami-select:before {
  content: "\e8a2";
}

.custom-icon-map:before {
  content: "\e7a3";
}

.custom-icon-camera:before {
  content: "\e8a3";
}

.custom-icon-Newuserzone:before {
  content: "\e7a4";
}

.custom-icon-arrow-down:before {
  content: "\e8a4";
}

.custom-icon-multi-language:before {
  content: "\e7a5";
}

.custom-icon-account:before {
  content: "\e8a5";
}

.custom-icon-office:before {
  content: "\e7a6";
}

.custom-icon-comments:before {
  content: "\e8a6";
}

.custom-icon-notice:before {
  content: "\e7a7";
}

.custom-icon-cart-Empty1:before {
  content: "\e8a7";
}

.custom-icon-ontimeshipment:before {
  content: "\e7a8";
}

.custom-icon-favorites:before {
  content: "\e8a8";
}

.custom-icon-office-supplies:before {
  content: "\e7a9";
}

.custom-icon-order:before {
  content: "\e8a9";
}

.custom-icon-password:before {
  content: "\e7aa";
}

.custom-icon-search:before {
  content: "\e8aa";
}

.custom-icon-Notvisible1:before {
  content: "\e7ab";
}

.custom-icon-trade-assurance:before {
  content: "\e8ab";
}

.custom-icon-operation:before {
  content: "\e7ac";
}

.custom-icon-usercenter1:before {
  content: "\e8ac";
}

.custom-icon-packaging:before {
  content: "\e7ad";
}

.custom-icon-tradingdata:before {
  content: "\e8ad";
}

.custom-icon-online-tracking:before {
  content: "\e7ae";
}

.custom-icon-microphone:before {
  content: "\e8ae";
}

.custom-icon-packing-labeling:before {
  content: "\e7af";
}

.custom-icon-txt:before {
  content: "\e8af";
}

.custom-icon-phone:before {
  content: "\e7b0";
}

.custom-icon-xlsx:before {
  content: "\e8b0";
}

.custom-icon-pic1:before {
  content: "\e7b1";
}

.custom-icon-banzhengfuwu:before {
  content: "\e8b1";
}

.custom-icon-pin:before {
  content: "\e7b2";
}

.custom-icon-cangku:before {
  content: "\e8b2";
}

.custom-icon-play1:before {
  content: "\e7b3";
}

.custom-icon-daibancaishui:before {
  content: "\e8b3";
}

.custom-icon-logistic-logo:before {
  content: "\e7b4";
}

.custom-icon-jizhuangxiang:before {
  content: "\e8b4";
}

.custom-icon-print:before {
  content: "\e7b5";
}

.custom-icon-jiaobiao:before {
  content: "\e8b5";
}

.custom-icon-product:before {
  content: "\e7b6";
}

.custom-icon-kehupandian:before {
  content: "\e8b6";
}

.custom-icon-machinery:before {
  content: "\e7b7";
}

.custom-icon-dongtai:before {
  content: "\e8b7";
}

.custom-icon-process:before {
  content: "\e7b8";
}

.custom-icon-daikuan:before {
  content: "\e8b8";
}

.custom-icon-prompt:before {
  content: "\e7b9";
}

.custom-icon-shengyijing:before {
  content: "\e8b9";
}

.custom-icon-QRcode1:before {
  content: "\e7ba";
}

.custom-icon-jiehui:before {
  content: "\e8ba";
}

.custom-icon-reeor:before {
  content: "\e7bb";
}

.custom-icon-fencengpeizhi:before {
  content: "\e8bb";
}

.custom-icon-reduce:before {
  content: "\e7bc";
}

.custom-icon-shenqingjilu:before {
  content: "\e8bc";
}

.custom-icon-Non-staplefood:before {
  content: "\e7bd";
}

.custom-icon-shangchuanbeiandanzheng:before {
  content: "\e8bd";
}

.custom-icon-rejected-order:before {
  content: "\e7be";
}

.custom-icon-shangchuan:before {
  content: "\e8be";
}

.custom-icon-resonserate:before {
  content: "\e7bf";
}

.custom-icon-kehuquanyi:before {
  content: "\e8bf";
}

.custom-icon-remind:before {
  content: "\e7c0";
}

.custom-icon-suoxiao:before {
  content: "\e8c0";
}

.custom-icon-responsetime:before {
  content: "\e7c1";
}

.custom-icon-quanyipeizhi:before {
  content: "\e8c1";
}

.custom-icon-return:before {
  content: "\e7c2";
}

.custom-icon-shuangshen:before {
  content: "\e8c2";
}

.custom-icon-paylater:before {
  content: "\e7c3";
}

.custom-icon-tongguan:before {
  content: "\e8c3";
}

.custom-icon-rising1:before {
  content: "\e7c4";
}

.custom-icon-tuishui:before {
  content: "\e8c4";
}

.custom-icon-Rightarrow:before {
  content: "\e7c5";
}

.custom-icon-tongguanshuju:before {
  content: "\e8c5";
}

.custom-icon-rmb1:before {
  content: "\e7c6";
}

.custom-icon-kuaidiwuliu:before {
  content: "\e8c6";
}

.custom-icon-RFQ-logo:before {
  content: "\e7c7";
}

.custom-icon-wuliuchanpin:before {
  content: "\e8c7";
}

.custom-icon-save:before {
  content: "\e7c8";
}

.custom-icon-waihuishuju:before {
  content: "\e8c8";
}

.custom-icon-scanning:before {
  content: "\e7c9";
}

.custom-icon-xinxibar_shouji:before {
  content: "\e8c9";
}

.custom-icon-security:before {
  content: "\e7ca";
}

.custom-icon-xinwaizongyewu:before {
  content: "\e8ca";
}

.custom-icon-salescenter:before {
  content: "\e7cb";
}

.custom-icon-wuliudingdan:before {
  content: "\e8cb";
}

.custom-icon-seleted:before {
  content: "\e7cc";
}

.custom-icon-zhongjianren:before {
  content: "\e8cc";
}

.custom-icon-searchcart:before {
  content: "\e7cd";
}

.custom-icon-xinxibar_zhanghu:before {
  content: "\e8cd";
}

.custom-icon-raw:before {
  content: "\e7ce";
}

.custom-icon-yidatong:before {
  content: "\e8ce";
}

.custom-icon-service:before {
  content: "\e7cf";
}

.custom-icon-zhuanyequanwei:before {
  content: "\e8cf";
}

.custom-icon-share:before {
  content: "\e7d0";
}

.custom-icon-zhanghucaozuo:before {
  content: "\e8d0";
}

.custom-icon-signboard:before {
  content: "\e7d1";
}

.custom-icon-xuanzhuandu:before {
  content: "\e8d1";
}

.custom-icon-shuffling-banner:before {
  content: "\e7d2";
}

.custom-icon-tuishuirongzi:before {
  content: "\e8d2";
}

.custom-icon-Rightbutton:before {
  content: "\e7d3";
}

.custom-icon-AddProducts:before {
  content: "\e8d3";
}

.custom-icon-sorting:before {
  content: "\e7d4";
}

.custom-icon-ziyingyewu:before {
  content: "\e8d4";
}

.custom-icon-sound-Mute:before {
  content: "\e7d5";
}

.custom-icon-addcell:before {
  content: "\e8d5";
}

.custom-icon-Similarproducts:before {
  content: "\e7d6";
}

.custom-icon-background-color:before {
  content: "\e8d6";
}

.custom-icon-sound-filling:before {
  content: "\e7d7";
}

.custom-icon-cascades:before {
  content: "\e8d7";
}

.custom-icon-suggest:before {
  content: "\e7d8";
}

.custom-icon-beijing:before {
  content: "\e8d8";
}

.custom-icon-stop:before {
  content: "\e7d9";
}

.custom-icon-bold:before {
  content: "\e8d9";
}

.custom-icon-success:before {
  content: "\e7da";
}

.custom-icon-zijin:before {
  content: "\e8da";
}

.custom-icon-supplier-features:before {
  content: "\e7db";
}

.custom-icon-eraser:before {
  content: "\e8db";
}

.custom-icon-switch:before {
  content: "\e7dc";
}

.custom-icon-centeralignment:before {
  content: "\e8dc";
}

.custom-icon-survey:before {
  content: "\e7dd";
}

.custom-icon-click:before {
  content: "\e8dd";
}

.custom-icon-template:before {
  content: "\e7de";
}

.custom-icon-aspjiesuan:before {
  content: "\e8de";
}

.custom-icon-text:before {
  content: "\e7df";
}

.custom-icon-flag:before {
  content: "\e8df";
}

.custom-icon-suspended:before {
  content: "\e7e0";
}

.custom-icon-falg-fill:before {
  content: "\e8e0";
}

.custom-icon-task-management:before {
  content: "\e7e1";
}

.custom-icon-Fee:before {
  content: "\e8e1";
}

.custom-icon-tool:before {
  content: "\e7e2";
}

.custom-icon-filling:before {
  content: "\e8e2";
}

.custom-icon-Top:before {
  content: "\e7e3";
}

.custom-icon-Foreigncurrency:before {
  content: "\e8e3";
}

.custom-icon-smile:before {
  content: "\e7e4";
}

.custom-icon-guanliyuan:before {
  content: "\e8e4";
}

.custom-icon-textile-products:before {
  content: "\e7e5";
}

.custom-icon-language:before {
  content: "\e8e5";
}

.custom-icon-tradealert:before {
  content: "\e7e6";
}

.custom-icon-leftalignment:before {
  content: "\e8e6";
}

.custom-icon-topsales:before {
  content: "\e7e7";
}

.custom-icon-extra-inquiries:before {
  content: "\e8e7";
}

.custom-icon-tradingvolume:before {
  content: "\e7e8";
}

.custom-icon-Italic:before {
  content: "\e8e8";
}

.custom-icon-training:before {
  content: "\e7e9";
}

.custom-icon-pcm:before {
  content: "\e8e9";
}

.custom-icon-upload:before {
  content: "\e7ea";
}

.custom-icon-reducecell:before {
  content: "\e8ea";
}

.custom-icon-RFQ-word:before {
  content: "\e7eb";
}

.custom-icon-rightalignment:before {
  content: "\e8eb";
}

.custom-icon-viewlarger:before {
  content: "\e7ec";
}

.custom-icon-pointerleft:before {
  content: "\e8ec";
}

.custom-icon-viewgallery:before {
  content: "\e7ed";
}

.custom-icon-subscript:before {
  content: "\e8ed";
}

.custom-icon-vehivles:before {
  content: "\e7ee";
}

.custom-icon-square:before {
  content: "\e8ee";
}

.custom-icon-trust:before {
  content: "\e7ef";
}

.custom-icon-superscript:before {
  content: "\e8ef";
}

.custom-icon-warning:before {
  content: "\e7f0";
}

.custom-icon-tag-subscript:before {
  content: "\e8f0";
}

